.itemContainer {
  display: flex;
  padding: 10px;
  margin-top: 3.125rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.imageContainer {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 10px;
}

.image {
  max-width: 100%;
  height: auto;
  border-radius: 1.25rem;
}

.nameContainer {
  margin-left: 3.125rem;
}

.name {
  font-size: larger;
  font-weight: bold;
}

.amount {
  font-weight: bold;
  margin-top: 10px;
}
